nav {
  font-size: 130%;
  font-weight: bold;
  line-height: 1.8em;
  /*background-color: green;*/
  
  margin: 10px 10px;
  color: #666;
}
nav.top {
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
}
nav.top a {
  margin-right: 45px;
  color: #444;
}
nav.top span:first-child {
  margin-left: 15px;
}
nav.top a:hover {
  text-decoration: underline;
}
#home {
  float: right;
}
nav.top .smaller {
  font-size: 80%;
  font-weight: normal;
  color: #000;
}
nav.side {
  width: 20%;
  color: #666;
  /*background-color: green;*/
  float: right;
  padding: 10px;
  margin: 0px 0 10px 20px;
  font-size: 80%;
}
nav.side h3 {
  font-size: 100%;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
nav.side ul {
  list-style-type: disc;
  font-size: 100%;
  line-height: 1.2em;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 0px 15px 10px 15px;
  font-weight: normal;
}
nav.side ul:last-child {
  border-bottom: none;
}
nav.side ul li a:hover {
  text-decoration: underline;
}
nav.bottom {
  font-size: 100%;
  margin: 0;
}
nav.bottom h3 {
  font-size: 100%;
  font-style: normal;
  margin: 10px 0 10px 0;
  padding: 0;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
nav.bottom a {
  line-height: 1em;
  /*padding-top: 8px;*/
}
nav.bottom div {
  float: left;
  width: 23%;
  margin-right: 1em;
}
nav.bottom div h4 {
  font-size: 110%;
  padding-bottom: 3px;
}
nav.bottom img {
  max-width: 100px;
  max-height: 100px;
  /*border: none;*/
}