main h2 {
  color: #000;
  font-style: italic;
  background-image: url(../images/grn-gradient.png);
  background-position: left;
  background-repeat: repeat-y;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 6px 2px 6px 12px;
  margin: 10px 0 5px 20px;
}
main h2 a.next-place {
  font-size: 50%;
  letter-spacing: 0;
}
main h2 a.next-place:hover {
  text-decoration: underline;
}
main h3.superlocation {
  margin: 10px 0 0 20px;
  font-size: 100%;
}
main h3.superlocation a:hover {
  text-decoration: underline;
}
.map h3, .regions h3 {
  color: #fff;
  letter-spacing: .05em;
  background-image: url(../images/gradient.png);
  background-position: left;
  background-repeat: repeat-y;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 4px 2px 2px 12px;
  width: 90%;
  margin: 10px 0 15px 0;
  clear: left;
}
#featured-columns {
  width: 100%;
}
#featured-columns .regions {
  width: 60%;
  float: left;
  margin: 0 0 0 20px;
}
#map-box {
  border: 1px solid rgba(122, 188, 9, 1);
  border-radius: 15px;
  margin: 0 20px 15px 0;
  padding: 0;
  overflow: hidden;
  height: 667;
  width: 500px;
  float: right;
}