#featured {
  float: left;
  width: 80%;
  padding: 1em;
}
#carousel {
  width: 600px;
  height: 226px;
  padding: 5px;
  margin: 20px 20px 10px 10px;
  position: relative;
  border-radius: 10px;
}
#carousel .backup {
  opacity: 0;
}
.caro-item {
  width: 590px;
  height: 226px;
  border-radius: 10px;
  transition: opacity 2s;
  position: absolute;
  left: 10px;
}
.caro-item h3 {
  padding: 10px 15px;
  display: inline;
  border-radius: 5px;
  letter-spacing: .1em;
  color: #fff;
  background-color: rgba(255, 255, 255, .25);
  font-size: 180%;
}
/*_____________________________
Carousel Buttons 
*/
#carousel button {
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
}
#carousel #caro-left {
  top: 46%;
  left: 4px;
  padding: 0 3px 3px 3px;
  font-size: 100%;
}
#carousel #caro-right {
  top: 46%;
  right: 4px;
  padding: 0 3px 3px 3px;
  font-size: 100%;
}
/*_____________________________
Carousel Position Dots 
*/
#pos-wrapper {
  position: relative;
  width: 160px;
  height: 10px;
  margin: 210px auto 0 auto;
}
#pos1, #pos2, #pos3, #pos4, #pos5, #pos6 {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
}
#pos1 {
  left: 0;
}
#pos2 {
  left: 30px;
}
#pos3 {
  left: 60px;
}
#pos4 {
  left: 90px;
}
#pos5 {
  left: 120px;
}
#pos6 {
  left: 150px;
}
/*_________________


SUMMER


*/
#carousel {
  background-color: rgba(255, 255, 255, .6);
  /*background-color: rgba(246, 254, 217, .6);*/
  border: 1px solid rgba(106, 165, 0, 1);
}
#caro-1 {
  background-image: url(../images/birdwatching.jpg);
}
#caro-2 {
  background-image: url(../images/farmersmarkets.jpg);
}
#caro-3 {
  background-image: url(../images/orcas.jpg);
}
#caro-4 {
  background-image: url(../images/sunsets.jpg);
}
#caro-5 {
  background-image: url(../images/tidepools.jpg);
}
#caro-6 {
  background-image: url(../images/marinemammals.jpg);
}
#caro-1 h3 {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  left: 17px;
  top: 30px;
}
#caro-2 h3 {
  position: absolute;
  background-color: rgba(255, 255, 255, .5);
  color: #f4e8ff;
  right: 17px;
  bottom: 28px;
}
#caro-3 h3 {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  left: 87px;
  top: 30px;
}
#caro-4 h3 {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  left: 35px;
  top: 35px;
}
#caro-5 h3 {
  position: absolute;
  left: 95px;
  top: 40px;
}
#caro-6 h3 {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  left: 10px;
  bottom: 25px;
}
#carousel button {
  border-color: #ccc;
  background-color: rgba(205, 59, 8, .6);
  color: #ccc;
}
#pos1, #pos2, #pos3, #pos4, #pos5, #pos6 {
  background-color: rgba(205, 59, 8, .3);
  transition: background-color 1s;
}
#pos1.diva, #pos2.diva, #pos3.diva, #pos4.diva, #pos5.diva, #pos6.diva {
  background-color: rgba(205, 59, 8, .9);
}
