footer {
  text-align: center;
  clear: both;
  background-color: rgba(122, 188, 9, .2);
  margin-top: 10px;
  background-image: url(../images/SSGbanner2.jpg);
  background-repeat: no-repeat;
  color: #eee;
}
footer p#contact-links {
  padding: 20px 0 10px 0;
  font-size: 100%;
}
footer p#contact-links a {
  /*color: #fff;*/
  font-weight: bold;
  background-color: rgba(170, 205, 228, 1);
  padding: 4px 6px 3px 6px;
  margin: 0 2px;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, .6);
  border-radius: 5px;
  letter-spacing: .1em;
}
footer p#contact-links a:first-child {
  background-color: rgba(255, 255, 0, 1);
}
footer p#contact-links a:visited {
}
footer p#contact-links a:hover {
  background-color: rgba(75, 138, 181, 1);
  color: #fff;
}
footer p#contact-links a:first-child:hover {
  background-color: rgba(255, 150, 0, 1);
  color: #fff;
}
footer p#copyright {
  padding: 10px;
  font-size: 30%;
}