#contact {
  float: right;
/*  margin-top: 40px;
  margin-right: 20px;*/
  color: #000;
  font-weight: bold;
  width: 30%;
}
#contact form#search-box {
  /*display: inline;*/
  /*float: left;*/
  /*padding-right: 20px;*/
  /*padding-bottom: 0px;*/
  position: absolute;
  right: 20px;
  top: 15px;
}
#contact form#search-box input {
  width: 200px;
  height: 18px;
  font-size: .8em;
  border-radius: 5px;
  border: 2px solid rgba(1, 156, 209, 1);
  padding-left: 5px;
}
#contact button#search-go {
  padding: 3px 5px 4px 4px;
  border-radius: 5px;
  border: 2px solid rgba(122, 188, 9, 1);
  background-color: rgba(178, 72, 0, 1);
  margin-left: 5px;
}
#contact button#search-go:hover {
  color: #fff;
  cursor: pointer;
}
#contact a {
  color: #000;
  background-color: #fff;
  padding: 4px 5px 3px 5px;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  top: 49px;
}
#contact a:visited {
}
#contact a:hover {
  background-color: rgba(1, 156, 209, 1);
  color: #fff;
}
#contact a.kids {
  background-color: yellow;
}
#contact a.kids:hover {
  background-color: rgba(1, 156, 209, 1);
}
#kids-header {
  right: 256px;
}
#blog-header {
  right: 205px;
}
#about-header {
  right: 144px;
}
#contact-header {
  right: 69px;
}
#faq-header {
  right: 20px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
RESPONSIVE
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
@media screen and (max-width: 1076px) {
 /* #contact form#search-box {
    display: block;
    float: none;
    margin-top: -30px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }*/
}
