/* """"" THESE STYLES REMOVE BROWSER DEFAULTS - DO NOT CHANGE OR REMOVE """"" */
html, body, header, nav, main, section, aside, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
font-size: 100.01%; /* Fix for some browser bugs */
background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
font-size: 100%;
}
html {
  overflow-y: scroll;
  height: 100%;
}
/* --> END OF BROWSER DEFAULT REMOVAL */

/*COLORS*/
/*rgba(63, 178, 74, 1) olive green*/
/*rgba(122, 188, 9, 1) leaf green*/
/*rgba(165, 147, 0, 1) tan*/
/*rgba(188, 130, 9, 1) orange brown*/
/*rgba(178, 72, 0, 1) chestnut*/

header {
  background-color: #100b04;
  height: 87px;
  background-image: url(../images/SSGbanner.jpg);
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(122, 188, 9, 1); /*leaf*/
}
h1 {
  font-size: 250%;
  letter-spacing: .02em;
  color: #000;
  padding: 12px 45px 30px 45px;
  background-color: rgba(255, 255, 255, .53);
  font-weight: bolder;
}
h1 span {
  font-weight: normal;
  letter-spacing: .15em;
  margin-left: 5px;
}
h2 {
  font-size: 210%;
  margin: 10px 20px;
  font-weight: bold;
  letter-spacing: .1em;
}
header h2 {
  font-size: 100%;
  font-weight: normal;
  font-style: italic;
  margin: -28px 45px 0 45px;
}
h3 {
  font-size: 140%;
  font-style: italic;
  margin-bottom: 10px;
}
.places {
  border-right: 1px solid #efefef;
}
.places h3, .things h3 {
  color: #fff;
  letter-spacing: .05em;
  background-image: url(../images/gradient.png);
  background-position: left;
  background-repeat: repeat-y;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 4px 2px 2px 8px;
  width: 90%;
  margin: 20px 0;
}
h4 {
  font-size: 120%;
}
a {
  text-decoration: none;
  color: #000;
}
button.featured-for h4 {
  font-size: 170%;
  font-weight: bold;
}
button.featured-for p {
  font-size: 150%;
}
nav {
  background-color: rgba(122, 188, 9, .2);/*leaf*/
  border-top: 3px solid rgba(188, 130, 9, 1);/*orange*/
}
nav .main-tab {
  margin: 5px 0 0 5px;
  width: 32.5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  text-align: center;
  padding: 10px 0;
  font-size: 150%;
  color: #000;
  text-decoration: none;
}
nav #main-tab-when {
  margin: 5px 0 0 5px;
}
nav .main-tab:hover {
  cursor: pointer;
}
nav .drop-tab {
  width: 100%;
  height: 2.2em;
  font-size: 120%;
  border-bottom: 4px solid rgba(178, 72, 0, .9);/*chestnut*/
}
nav .drop-tab a {
  color: #000;
  text-decoration: none;
  letter-spacing: .05em;
  line-height: 2.2em;
}

/*COLORS*/
/*rgba(63, 178, 74, 1) olive green*/
/*rgba(122, 188, 9, 1) leaf green*/
/*rgba(165, 147, 0, 1) tan*/
/*rgba(188, 130, 9, 1) orange brown*/
/*rgba(178, 72, 0, 1) chestnut*/
nav .month {
  width: 6%;
}
nav .location {
  width: 20%;
}
nav .attraction {
  width: 12%;
}
nav .month, nav .location, nav .attraction {
  float: left;
  text-align: center;
  padding: 0 .55%;
  border-right: 1px solid rgba(63, 178, 74, .6);/*olive*/
}
nav .month:hover, nav .location:hover, nav .attraction:hover {
  background-color: rgba(63, 178, 74, .2);/*olive*/
  cursor: pointer;
}
nav .month:first-child, nav .location:first-child, nav .attraction:first-child {
  border-left: none;
}

nav .month.current a {
  font-weight: bolder;
  color: rgba(178, 72, 0, 1);/*chestnut*/
}
nav .current-tab {
  background-color: rgba(63, 178, 74, .5);/*olive*/
}
nav .sleeping-tab {
  background-color: rgba(63, 178, 74, .2);/*olive*/
}
nav .sleeping-tab:hover {
  background-color: rgba(63, 178, 74, .4);/*olive*/
}
nav .real-box {
  clear: both;
  background-color: rgba(63, 178, 74, .5);/*olive*/
}
nav .ghost-box {
  clear: both;
  display: none;
}
#contact {
  float: right;
  margin-top: 40px;
  margin-right: 20px;
  color: #000;
  font-weight: bold;
}
#contact form#search-box {
  display: inline;
  float: left;
  padding-right: 20px;
  padding-bottom: 0px;
}
#contact button#search-go {
  padding: 3px 3px 4px 3px;
  margin-left: 0px;
}
#contact a {
  color: #000;
  background-color: #fff;
  padding: 4px 5px 3px 5px;
  text-decoration: none;
  border-radius: 5px;
}
#contact a:visited {
}
#contact a:hover {
  background-color: rgba(1, 156, 209, 1);
  color: #fff;
}
#contact a.kids {
  background-color: yellow;
}
#contact a.kids:hover {
  background-color: rgba(1, 156, 209, 1);
}
#secondary-nav {
  float: right;
  width: 14.5%;
  font-size: 120%;
  border: 2px solid rgba(1, 156, 209, 1);/*blue*/
  border-left-width: 1px;
  border-right: none;
  margin-top: 20px;
}
#secondary-nav ul {
  list-style-type: none;
}
#secondary-nav ul li {
  padding: .5em .5em .5em 1em;
  border-bottom: 1px solid rgba(1, 156, 209, .5);/*blue*/
}
#secondary-nav ul li:last-child {
  border-bottom: none;
}
#secondary-nav ul li:hover {
  background-color: rgba(63, 178, 74, .2);/*olive*/
}
#January-featured, #July-featured {
  width: 85%;
  float: left;
}
#featured-columns {
  width: 100%;
}
#featured-columns .places {
  width: 48%;
  float: left;
  margin: 0 0 0 20px;
}
#featured-columns .things {
  width: 48%;
  float: left;
  margin: 0 0 0 20px;
}
main .featured-for {
  width: 95%;
  padding: 20px;
  clear: both;
  border: 1px solid rgba(1, 156, 209, .8);/*blue*/
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: none;
  background: none;
  text-align: left;
}
main .featured-for img {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}
a button.featured-for:hover {
  border-color: rgba(178, 72, 0, .5);/*chestnut*/
  background-color: rgba(63, 178, 74, .2);/*olive*/
  cursor: pointer;
}
footer {
  height: 30px;
  text-align: center;
  padding-top: 10px;
  clear: both;
  margin: 0 auto;
  width: 100%;
  font-size: 30%;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
RESPONSIVE
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
@media screen and (min-width: 965px) {
  .searchbox-wrapper {
    margin-right: 4%;
  }
  .serc-topbox .left-box {
    font-size: 16px;
    margin-left: 12%;
    margin-top: 3%;
    padding-right: 5%;
    width: 25%;
    line-height: 1.2em
  }
  .serc-topbox .left-box h3 {
    font-size: 22px;
  }
}
/*month 965*/
/*location 1040*/
/*attraction 1025*/