/* """"" THESE STYLES REMOVE BROWSER DEFAULTS - DO NOT CHANGE OR REMOVE """"" */
html, body, header, nav, main, section, aside, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
font-size: 100.01%; /* Fix for some browser bugs */
background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
font-size: 100%;
}
html {
  overflow-y: scroll;
  height: 100%;
}
/* --> END OF BROWSER DEFAULT REMOVAL */
header {
  background-color: #100b04;
  height: 69px;
  background-image: url(../images/SSGbanner.jpg);
  background-repeat: no-repeat;
  border-bottom: 8px solid rgba(106, 165, 0, 1);
  /*margin-bottom: 3px;*/
  /*opacity: .9;*/
}
h1 {
  font-size: 250%;
  letter-spacing: .02em;
  /*color: #cd3b08;*/
  color: #000;
  padding: 12px 45px;
  /*background-color: rgba(246, 254, 217, .4);*/
  background-color: rgba(255, 255, 255, .53);
  /*background-color: rgba(81, 150, 209, .5);*/
  font-weight: bolder;
}
h1 span {
  font-weight: normal;
  letter-spacing: .15em;
  margin-left: 5px;
}
h2 {
  font-size: 160%;
  margin-left: 20px;
}
h3 {
  font-size: 140%;
}
a {
  text-decoration: none;
  color: #000;
}
nav {
  background-color: rgba(106, 165, 0, .4);
}
nav .main-tab {
  margin: 5px 0 0 9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  padding: .5em;
  font-size: 150%;
}
nav .drop-tab {
  padding: .6em;
  width: 100%;
  font-size: 120%;
  background-color: #fff;
  border-bottom: 3px solid #5196d1;
}
nav form.search-box {
  float: right;
  margin-right: 2%;
  height: 2em;
  padding-top: 1em;
}
nav button#search-go {
  padding: 4px;
  margin-left: 4px; 
}
nav .main-tab {
  color: #000;
  text-decoration: none;
  padding: 12px 40px;
  cursor: default;
}
nav .drop-tab a {
  color: #000;
  text-decoration: none;
  margin: 0 .6%;
}
nav .current-tab {
  background-color: rgba(106, 165, 0, 1);
}
nav .sleeping-tab {
  background-color: rgba(106, 165, 0, .4);
}
nav .real-box {
  clear: both;
  background-color: rgba(106, 165, 0, 1);
}
nav .ghost-box {
  clear: both;
  display: none;
}
nav .real-box a:hover {
  text-decoration: underline;
}
#contact {
  float: right;
  margin-top: 24px;
  margin-right: 20px;
  color: #cd3b08;
  font-weight: bold;
}
#contact a {
  color: #cd3b08;
  text-decoration: none;
}
#contact a:visited {
  color: #cd3b08;
}
#contact a:hover {
  color: #5196d1;
  text-decoration: underline;
}
main {
}
#secondary-nav {
  float: left;
  width: 15%;
  font-size: 120%;
}
#secondary-nav ul {
  list-style-type: none;
  border-bottom: 3px solid #ddd;
}
#secondary-nav ul li {
  padding: .5em .5em .5em 1em;
}
#secondary-nav ul li:hover {
  background-color: #efefef;
}
#secondary-nav ul ul li {
  padding: .5em .5em .5em 1.8em;
  font-size: 90%;
}
footer {
  height: 30px;
  text-align: center;
  padding-top: 10px;
  clear: both;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 30%;
}