/* """"" THESE STYLES REMOVE BROWSER DEFAULTS - DO NOT CHANGE OR REMOVE """"" */
html, body, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
font-size: 100.01%; /* Fix for some browser bugs */
background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
font-weight:normal;
font-size:100%;
}

html {
  overflow-y: scroll;
  height: 100%;
}

/* """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

END OF BROWSER DEFAULT REMOVAL 

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

WINTER

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/



body {
  background: #253453; 
}

.colorchange_light {
  color: #7585BC; 
}

.colorchange_title {
  color: #253453;
}

.colorchange_dark {
  color: #214285; 
}

.colorchange_darkback {
  background: #253453; 
}

.colorchange_almost_black {
  color: #21242D; 
}

.colorchange_wrapperback {
  background-image: url(images/winter_wrapperback.gif);  
}

.colorchange_headerback {
  background-image: url(images/winter_titleimage.jpg);  
}

.colorchange_barlinkback {
  background-image: url(images/winter_monthlink.gif);  
  background-repeat: repeat-x;
  background-position: top;
}

.colorchange_monthbarlinkback {
  background-image: url(images/winter_monthlink.gif);  
}

.colorchange_donatelink {
  background-image: url(images/winter_donatebutton.gif); 
}

#donatelink a:link, #donatelink a:visited {
  background-image: url(images/winter_donatebutton.gif); 
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

END OF SEASONAL CSS

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


#outerwrapper {
  width: 1024px;
  background-repeat: repeat-y;
  position: relative;
  margin: 0 auto;
}

/* """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" 

STYLES FOR THE HEADER AND JAVASCRIPT NAVBAR 

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

#skip a, #skip a:hover, #skip a:visited 
{ 
position:absolute; 
left:0px; 
top:-500px; 
width:1px; 
height:1px; 
overflow:hidden;
} 

#skip a:active, #skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
}

#banner a {
  text-decoration: none;
}

a:link.banner_links, a:visited.banner_links {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover.banner_links {
  color: #000;
  text-decoration: underline;
}

#faq_link {
  position: absolute;
  top: 1px;
  right: 4px;
}

#contact_link {
  position: absolute;
  top: 1px;
  right: 51px;
}

#about_link {
  position: absolute;
  top: 1px;
  right: 120px;
}

#blog_link {
  position: absolute;
  top: 1px;
  right: 175px;
}

h1#site_title {
  color: black;
  font-size: 3.8em;
  padding: 11px 0 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h2#site_slogan {
  color: black;
  font-size: 1.2em;
  margin: -2px 0 0 115px;
  font-family: Arial, Helvetica, sans-serif;  
  font-style: italic;
}

#main_tab_when, #main_tab_where, #main_tab_what {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  position: absolute; 
  top: 117px;
  left: 3px;
}

#main_tab_where {
  left: 180px;
}

#main_tab_what {
  left: 357px;
}

#searchbox_demo {                 /* this is the google box */
  margin: 6px auto 0 auto;
  position: absolute;
  top: 111px;
  right: 13px;
}

p.current_tab a:link, p.current_tab a:visited {   /* this is the selected tab */
  display: block;
  color: #000;
  background-image:url(images/navbutton_high.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  float: left;
  padding: 5px 0 0 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  height: 27px;
  width: 172px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-color: #FEFEFE;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #FEFEFE;
}

p.current_tab a:hover {
  background-position: bottom;
}

p.sleeping_tab a:link, p.sleeping_tab a:visited { /* these are the sleeping tabs */
  display: block;
  color: #000;
  float: left;
  padding: 5px 0 0 0;
  background: #AAA;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  height:27px;
  width: 172px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-color: #DDD;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #DDD;
}

p.sleeping_tab a:hover {
  background: #BBB;
}

#drop_tab_when a:link, #drop_tab_when a:visited, 
#drop_tab_where a:link, #drop_tab_where a:visited, 
#drop_tab_what a:link, #drop_tab_what a:visited { /* these are the passive navbars */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #000;
  background: #F1F2F2;
  text-decoration: none;
  float: left;
  width: auto;
  height: 30px;
}

#drop_tab_when a:hover, 
#drop_tab_where a:hover, 
#drop_tab_what a:hover {              /* these are the hover navbars */
  background: #CCC;
}

#header {
  width: 1024px;
  height: 150px;
  margin: 0 auto;
  /*border-bottom: #FEFEFE 1px solid;  /* this would go across the top of the navbars */
}

.drop_tab_box {
  width: 1024px;
  margin: 0 auto;
  height: 37px;
  background: #F1F2F2;
  border-bottom: #444 1px solid;
  clear: both;
}

.ghost_box {
  display: none;  
}

.real_box {
  display: inline;
}

#drop_tab_when a {
  padding: 7px 11px 0 11px;
}

#drop_tab_where a {
  padding: 7px 10px 0 10px;
}

#drop_tab_what a {
  padding: 7px 10px 0 10px;
}

.ampersand {
  font-size: 80%; 
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin Main Content CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

#maincontent {
  width: 100%;
  background: lime;
  clear: both;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin sidebar CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */


#sidebar {
  width: 204px;
  float: left;
  /*border-bottom: #BBB 1px solid;*/
}

#blogpreview {
  width: 179px;
  height: 179px;
  background: none;
  margin: 10px 15px 10px 10px;
  overflow: hidden;
  padding-top: 8px;
}

#blogpreview a:link, #blogpreview a:visited {
  text-decoration: none;
  font-family: Tahoma, Geneva, sans-serif;
  color: #000;
}

#blogpreview a:hover {
  text-decoration: underline;
}

#blogpreview p {
  font-size: .9em;
  padding-top: 5px;
  padding-bottom: 5px;
}

#blogpreview h3 {
  font-size: 1.2em;
  font-style: italic;
  background: none;
}

#blogpreview a img {
  float: right; 
  margin: 10px 0px 4px 10px;
  text-decoration: none;
  border: none;
}

.sidenav {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFF; 
}

#donatelink a:link, #donatelink a:visited {
  font-size: 1.1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  height: 20px;
  width: 183px;
  float: left;
  padding: 9px 10px 9px 10px;
  display: block;
  text-align: left;
  vertical-align: middle;
  background-repeat: repeat-x;
  background-position: top;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #FFF;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #FFF;
}

#donatelink a:hover {
  color: #000;
  background-repeat: repeat-x;
  background-position: bottom;
  border-top-color: #FFF; 
}

#popular_links_title {
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  display: block;
  background-image:url(images/navbutton_high.gif);
  background-repeat: repeat-x;
  background-position: top;
  text-align: left;
  vertical-align: middle;
  float: left;
  height: 15px;
  width: 183px;
  padding: 8px 10px 8px 10px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #FFF;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #FFF;
}

.popular_links, a:link.popular_links, a:visited.popular_links {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  display: block;
  background-image:url(images/navbutton_high.gif);
  background-repeat: repeat-x;
  background-position: top;
  text-align: left;
  vertical-align: middle;
  float: left;
  height: 15px;
  width: 183px;
  padding: 8px 0px 8px 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #FFF;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #FFF;
}

a:hover.popular_links {
  color: #444;
  background-image:url(images/navbutton_high.gif);
  background-repeat: repeat-x;
  background-position: bottom;
}

.sidelink a:link, .sidelink a:visited {
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  background-image:url(images/navbutton_high.gif);
  background-repeat: repeat-x;
  background-position: top;
  text-align: left;
  vertical-align: middle;
  float: left;
  height: 15px;
  width: 183px;
  padding: 8px 10px 8px 10px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #FFF;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #FFF;
}

.sidelink a:hover {
  color: #444;
  background-image:url(images/navbutton_high.gif);
  background-repeat: repeat-x;
  background-position: bottom;
}


/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin Center Content CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */


#centercontent {
  width: 790px;
  margin: 10px 15px;
  float: right;
}

#centercontent .kids {
  color: #E00;  
}

#centercontent .breadcrumbs {
  font-size: .5em;
  font-style: italic;
  margin-bottom: 10px;
}

#centercontent .breadcrumbs a:link, #centercontent .breadcrumbs a:visited {
  text-decoration: none;
}

#centercontent .breadcrumbs a:hover {
  text-decoration: underline;
  color: #000;
}

#centercontent .footnote {
  font-size: .7em;  
  clear: both;
}

#centercontent .right {
  float: right;
  margin-left: 20px;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin Legend Box CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

#centercontent #legend {
  float: right;
  margin: 10px 0px 5px 5px;
  padding: 5px 8px;
  border: 1px solid #555;
  font-size: .9em;
  clear: both;
}

#legend .legend_title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 4px;
} 

#legend ul {
  list-style: none; 
}

#legend ul li a:hover {
  color: #000;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin Mammal Sizes Box CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

#mammal_sizes {
  height: 100px;
}

#mammal_sizes img {
  margin-top: 3px;  
}

.mammal_size_column {
  width: 150px;
  padding: 10px 4px;
  float: left;
}

#mammal_sizes a {
  text-decoration: none;  
}

#mammal_sizes p {
  color: #000;
  font-size: .7em;
  margin-right: 5px;
}





/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin Alphabetical List CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

#centercontent #species_list_link {
  padding: 5px 0 0 0;
  font-style: italic;
}

#centercontent .list_index {
  height: 35px;
  margin: 5px 0;
  clear: left;
}

#centercontent .list_index a:link, #centercontent .list_index a:visited {
  font-size: 1em;
  font-weight: bold;
  padding: 0 3px;
}

#centercontent .list_index a:hover {
  color: #000;
}

#centercontent ul.alphabetical {
  list-style: none;
  font-weight: bold;
}

#centercontent ul.alphabetical li ul {
  list-style: none;
  font-weight: normal;
  margin: 0 15px;
}

#centercontent ul.alphabetical li ul a:link, #centercontent ul.alphabetical li ul a:visited {
  font-size: .8em;
  text-decoration: none;
}

#centercontent ul.alphabetical li ul a:hover {
  color: #000;
  text-decoration: underline;
}

#centercontent ul.alphabetical li ul a:link img, #centercontent ul.alphabetical li ul a:visited img {
  color: red; 
}

#centercontent ul.alphabetical li ul p {
  font-size: .8em;
  margin-top: 2px;
  color: #000;
}

#centercontent ul.alphabetical li ul p a.hike_out_link {
  font-style: italic;
}

ul li h5.alphalist_item {
  color: #000;
  font-weight: bold;
  margin-bottom: 2px;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin "Back to Top" link CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

a:link.toplink, a:visited.toplink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-style: italic;
  text-decoration: none;
  float: right;
}

a:hover.toplink {
  text-decoration: underline;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin H4 heading CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

h4.season, h4.activity {
  font-weight: bold;
  padding-bottom: 4px;
  font-size: 1em;
}

h4.activity a:link, h4.activity a:visited {
  padding: 0 0 4px 0;
  text-decoration: none;
}

h4.activity a:hover {
  text-decoration: underline; 
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin "Back to Top" link CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

#centercontent .season_wrapper {
  width: 473px;
  margin-top: 10px;
  float: left;
}

#centercontent .season_wrapper .left_season_column {
  width: 236px;
  float: left;
}

#centercontent .season_wrapper .right_season_column {
  width: 236px;
  float: right;
}

.left_season_column ul, .right_season_column ul {
  list-style: none;
  padding-bottom: 15px;
}

.left_season_column ul li a:link, .left_season_column ul li a:visited, .right_season_column ul li a:link, .right_season_column ul li a:visited {
  color: #000;
  text-decoration: none;
  font-size: .9em;
}

.left_season_column ul li a:hover, .right_season_column ul li a:hover {
  text-decoration: underline;
}

#centercontent .mapwrap {
  float: right;
  margin-left: 15px;
}

#centercontent .mapwrap a.maplink {
  float: right;
  font-size: .7em;
  padding: 1px;
  color: #000;
}

#centercontent .map {
  border: 1px solid black;  
}

#centercontent .species {
  font-style: italic; 
}

#centercontent p {
  line-height: 1.4em; 
  margin-bottom: 10px;
}

#centercontent p a:link, #centercontent p a:visited {
  text-decoration: none;
}

#centercontent p a:hover {
  text-decoration: underline;
  color: #000;
}

#centercontent p img.left {
  float: left;
  padding: 0 10px 0 0;
}

#centercontent .main_image, #centercontent .map_image {
  float: right;
  margin: 0 0 0 25px;
  width: 308px;
}

#centercontent .main_image img {
  margin: 0px;
  border: 1px solid #555;
}

#centercontent .map_image img {
  margin: 0px;
  border: 1px solid #555;
}

#centercontent .photocaption_300 {
  width: 300px;
  font-size: .7em;
  text-align: right;
}

#centercontent .photocaption_90L {
  width: 90px;
  float:left;
  font-size: .7em;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#centercontent .photocaption_90L img {
  border: 1px solid #555;
}

#centercontent .photocaption_90R {
  width: 90px;
  float: right;
  font-size: .7em;
  text-align: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

#centercontent .photocaption_90R img {
  border: 1px solid #555;
}

#centercontent .mapcaption {
  width: 270px;
  font-size: .7em;
  text-align: left;
}

#centercontent .photocaption_300 a:link, #centercontent .photocaption_300 a:visited {
  text-decoration: none;
}

#centercontent .photocaption_300 a:hover {
  text-decoration: underline;
}
  
#centercontent p .staffname {
  font-weight: bold;
}

#centercontent ul.faq {
  list-style: none;
  line-height: 1.4em; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;

}

#centercontent ul.faq li.question {
  font-size: 1.1em;
  font-style: italic;
}

#centercontent ul.faq li.answer {
  font-size: 1em;
  color: #000;
  margin: 2px 0 15px 0;
}

#centercontent ul.faq li.answer a:link, #centercontent ul.faq li.answer a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
}

#centercontent ul.faq li.answer a:hover {
  text-decoration: underline; 
  color: #000;
}

#centercontent h3.article_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding-bottom: 5px;
  color: #000;
}

#centercontent h3.article_heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 20px 0 5px 0;
  color: #000;
}

#centercontent h4.article_heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 10px 6px 0;
  color: #000;
  clear: both;
}

#centercontent h4.article_heading a:link, #centercontent h4.article_heading a:visited {
  text-decoration: none;
}

#centercontent h4.article_heading a:hover {
  text-decoration: underline;
}

#centercontent h4.article_heading_no_clear {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 10px 6px 0;
  color: #000;
  clear: none;
}

#centercontent h4.article_heading_no_clear a:link, #centercontent h4.article_heading_no_clear a:visited {
  text-decoration: none;
}

#centercontent h4.article_heading_no_clear a:hover {
  text-decoration: underline;
}



#centercontent .titleblurb {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding-bottom: 20px;
  color: #000;
  line-height: 1.3em;
}

#centercontent .titleblurb a:link, #centercontent .titleblurb a:visited {
  text-decoration: none;  
}

#centercontent .titleblurb a:hover {
  color: #000;
  text-decoration: underline;
}

/*#centercontent .monthblurb p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-bottom: 10px;
  color: #000;
  line-height: 1.4em;
}*/

/*#centercontent .monthblurb p a:link, #centercontent .monthblurb p a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #253453; /* JANUARY */
  /*color: #1E0800; /* FEBRUARY */
  /*color: #1E0800; /* MARCH */
  /*color: #1E0800; /* APRIL */
  /*color: #1E0800; /* MAY */
  /*color: #1E0800; /* JUNE */
  /*color: #1E0800; /* JULY */
  /*color: #431908; /* AUGUST */
  /*color: #1E0800; /* SEPTEMBER */
  /*color: #1E0800; /* OCTOBER */
  /*color: #1E0800; /* NOVEMBER */
  /*color: #1E0800; /* DECEMBER */
/*}

#centercontent .monthblurb p a:hover {
  text-decoration: underline; 
  color: #000;
}*/

#centercontent .bottom_bar_link {
  clear: both;  
}

#centercontent .bottom_bar_link a:link, #centercontent .bottom_bar_link a:visited {
  display: block;
  height: 26px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 100%;
  font-size: 1.2em;
  vertical-align: middle;
  padding: 4px 0 0 0;
  margin: 0 0 10px 0;
}

#centercontent .bottom_bar_link a:hover {
  text-decoration: underline;
  background-position: bottom;
  color: #000;
} 

#centercontent .month_bar_link {
  clear: both;
  width: 790px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0 0 0;
  margin: 0 0 10px 0;
}

#centercontent .month_bar_link a:link, #centercontent .month_bar_link a:visited {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.2em;
}

#centercontent .month_bar_link a:hover {
  text-decoration: underline;
  color: #000;
} 

#centercontent .month_bar_link #previous_month {
  width: 365px;
  text-align: left;
  float: left;
  margin-left: 30px;
}

#centercontent .month_bar_link #next_month {
  width: 365px; 
  text-align: right;
  float: right;
  margin-right: 30px;
}

#centercontent ul.article_locations {
  margin: 0 0 0 32px;
}

ul.article_locations li a:link, ul.article_locations li a:visited {
  text-decoration: none;
}

ul.article_locations li a:hover {
  text-decoration: underline;
  color:#000;
}

#centercontent ul.look_for_these {
  margin: 0 0 0 32px;
}

#centercontent ul.look_for_these li {
  /*padding: 5px 0;*/
}

#centercontent .look_for_these_box {
  width: 730px;
  height: auto;
}

ul.look_for_these .header {
  padding: 15px 0 5px 0;
  clear: both;
}

ul.look_for_these li p {
  color: #000;
}

ul.look_for_these li p img {
  margin-right: 10px;
  margin-bottom: 5px;
  float:left;
  border: 1px solid #555;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin featured CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

.featured_wrapper {
  width: 720px; 
  margin: 20px auto;
}

.left_featured {
  width: 360px;
  float: left;
  padding-bottom: 10px
}

.right_featured {
  width: 360px; 
  float: right;
  padding-bottom: 10px
}

.featured_article {
  width: 350px;
  height: 86px;
  padding-bottom: 20px;
}

.featured_article a:link, .featured_article a:visited {
  text-decoration: none;
}

.featured_article a:hover {
  text-decoration: underline;
}

h4.featured a:link, h4.featured a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
  margin-left: -10px;
}

h4.featured a:hover {
  text-decoration: underline;
}

.featured_article p {
  margin: 3px 10px;
}

.featured_article a:link img.featured, .featured_article a:visited img.featured  {
  float: left;
  margin-right: 10px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #BBB;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #BBB;
}

.featured_article a:hover img.featured {
  border-top-color: #444;
  border-right-color: #BBB;
  border-bottom-color: #BBB;
  border-left-color: #444;  
}

/*
#centercontent table {
  border-collapse: collapse;
  margin: 20px auto;
}

#centercontent caption {
  position: absolute;
  left: -1000px;
}

#centercontent .text {
  width: 200px;
  vertical-align: top;
}

#centercontent .text p {
  margin: 3px 10px;
}

#centercontent .thumbnail {
  width: 150px;
  height: 80px;
  vertical-align: top;
}

#centercontent .thumbnail a:link img, #centercontent .thumbnail a:visited img {
  text-decoration: none;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #BBB;
  border-right-color: #444;
  border-bottom-color: #444;
  border-left-color: #BBB;
}

#centercontent .thumbnail a:hover img{
  border-top-color: #444;
  border-right-color: #BBB;
  border-bottom-color: #BBB;
  border-left-color: #444;    
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin 3 columns CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

.three_column_wrapper {
  width: 790px; 
}

.three_column_wrapper #leftof3_content_column {
  width: 263px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.three_column_wrapper #centerof3_content_column {
  width: 263px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.three_column_wrapper #rightof3_content_column {
  width: 264px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.three_column_wrapper #leftof3_content_column ul, .three_column_wrapper #centerof3_content_column ul, .three_column_wrapper #rightof3_content_column ul {
  list-style: none; 
  margin: 0 0 10px 0px;
}

.three_column_wrapper #leftof3_content_column ul li.month_category a:link, .three_column_wrapper #leftof3_content_column ul li.month_category .activity a:visited {
  margin-top: 20px;
  padding-bottom: 4px;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0px;
  color: red;/*#7585BC; /* JANUARY */
  /*color: #1E0800; /* FEBRUARY */
  /*color: #1E0800; /* MARCH */
  /*color: #1E0800; /* APRIL */
  /*color: #1E0800; /* MAY */
  /*color: #1E0800; /* JUNE */
  /*color: #1E0800; /* JULY */
  /*color: #431908; /* AUGUST */
  /*color: #1E0800; /* SEPTEMBER */
  /*color: #1E0800; /* OCTOBER */
  /*color: #1E0800; /* NOVEMBER */
  /*color: #1E0800; /* DECEMBER */ 
}

.three_column_wrapper #leftof3_content_column ul li.month_category a:hover {
  text-decoration: none;  
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin 2 narrow columns CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

.two_column_wrapper {
  width: 460px;
}

.two_column_wrapper #left_content_column {
  width: 228px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.two_column_wrapper #right_content_column {
  width: 228px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.two_column_wrapper #left_content_column ul, .two_column_wrapper #right_content_column ul {
  list-style: none; 
  margin: 0 0 10px 0px;
}

.two_column_wrapper #left_content_column ul li.month_category a:link, .two_column_wrapper #left_content_column ul li.month_category .activity a:visited {
  margin-top: 20px;
  padding-bottom: 4px;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0px;
  color: red;/*#7585BC; /* JANUARY */
  /*color: #1E0800; /* FEBRUARY */
  /*color: #1E0800; /* MARCH */
  /*color: #1E0800; /* APRIL */
  /*color: #1E0800; /* MAY */
  /*color: #1E0800; /* JUNE */
  /*color: #1E0800; /* JULY */
  /*color: #431908; /* AUGUST */
  /*color: #1E0800; /* SEPTEMBER */
  /*color: #1E0800; /* OCTOBER */
  /*color: #1E0800; /* NOVEMBER */
  /*color: #1E0800; /* DECEMBER */ 
}

.two_column_wrapper #left_content_column ul li.month_category a:hover {
  text-decoration: none;  
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin 2 wide columns CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */

.two_wide_column_wrapper {
  width: 780px;
  margin-left: 10px;
}

.two_wide_column_wrapper #left_content_column {
  width: 390px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.two_wide_column_wrapper #right_content_column {
  width: 390px;
  margin: 15px 0px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
}

.two_wide_column_wrapper #left_content_column ul, .two_wide_column_wrapper #right_content_column ul {
  list-style: none; 
  margin: 0 0 10px 0px;
}

.two_wide_column_wrapper #left_content_column ul li.month_category a:link, .two_wide_column_wrapper #left_content_column ul li.month_category .activity a:visited {
  margin-top: 20px;
  padding-bottom: 4px;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0px;
  color: red;/*#7585BC; /* JANUARY */
  /*color: #1E0800; /* FEBRUARY */
  /*color: #1E0800; /* MARCH */
  /*color: #1E0800; /* APRIL */
  /*color: #1E0800; /* MAY */
  /*color: #1E0800; /* JUNE */
  /*color: #1E0800; /* JULY */
  /*color: #431908; /* AUGUST */
  /*color: #1E0800; /* SEPTEMBER */
  /*color: #1E0800; /* OCTOBER */
  /*color: #1E0800; /* NOVEMBER */
  /*color: #1E0800; /* DECEMBER */ 
}

.two_wide_column_wrapper #left_content_column ul li.month_category a:hover {
  text-decoration: none;  
}

#centercontent .list_image {
  background: green;
  width: 100px;
}

.category_box {
  width: 390px;
  height: 100px;
}

.category_photo_box {
  float: left;
  margin: 0 10px 5px 0;
  
}

.category_photo_box img, .category_photo_box a:link img, .category_photo_box a:visited img {
  text-decoration: none;
  border: 2px solid;
  border-bottom-color: #444;
  border-right-color: #444;
  border-top-color: #BBB;
  border-left-color: #BBB;
}

.category_photo_box a:hover img {
  text-decoration: none;
  border: 2px solid;
  border-bottom-color: #BBB;
  border-right-color: #BBB;
  border-top-color: #444;
  border-left-color: #444;
}

li.top_month_category {
  margin-top: 0px;  
  padding-bottom: 4px;
  font-weight: bold;
}

.article_link a:link,.article_link a:visited, .location_link a:link,.location_link a:visited {
  font-weight: normal;
  text-decoration: none;
  padding-left: 15px;
  font-size: .9em;
}

.article_link a:hover, .location_link a:hover {
  text-decoration: underline; 
  color: #000;
}

.etc {
  padding-left: 15px;
  font-size: 80%;
  font-style: italic;
}

/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin footer CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */


#footer {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .6em;
  text-align: center;
  padding: 3px 0;
  clear: both;
  color: #ffffff;
  /*background: #253453; /* JANUARY */
  /*background: #1E0800; /* FEBRUARY */
  /*background: #1E0800; /* MARCH */
  /*background: #1E0800; /* APRIL */
  /*background: #1E0800; /* MAY */
  /*background: #1E0800; /* JUNE */
  /*background: #1E0800; /* JULY */
  /*background: #431908; /* AUGUST */
  /*background: #1E0800; /* SEPTEMBER */
  /*background: #1E0800; /* OCTOBER */
  /*background: #1E0800; /* NOVEMBER */
  /*background: #1E0800; /* DECEMBER */
}

#footer a {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}


/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""


Begin new header CSS


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */
