/* """"" THESE STYLES REMOVE BROWSER DEFAULTS - DO NOT CHANGE OR REMOVE """"" */
html, body, header, nav, main, section, aside, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
font-size: 100.01%; /* Fix for some browser bugs */
background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
font-size: 100%;
}
html {
  overflow-y: scroll;
  height: 100%;
}
/* --> END OF BROWSER DEFAULT REMOVAL */
header {
  /*background-color: red;*/
}
h1 {
  font-size: 200%;
  color: #2b2b2b;
}
h1 span {
  color: #000;
}
nav div.navigation {
  height: 2em;
  float: left;
  padding-top: 1em;
}
nav a {
  color: #000;
  text-decoration: none;
  margin: 40px;
}
main {
  /*background-color: blue;*/
}
footer {
  /*background-color: green;*/
  height: 30px;
  text-align: center;
  padding-top: 10px;
  clear: both;
}