main h2 {
  color: #000;
  font-style: italic;
  background-image: url(../images/grn-gradient.png);
  background-position: left;
  background-repeat: repeat-y;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding: 6px 2px 6px 12px;
  margin: 15px 0 5px 20px;
}
.places {
  border-right: 1px solid #efefef;
}
.places h3, .things h3 {
  color: #fff;
  letter-spacing: .05em;
  background-image: url(../images/gradient.png);
  background-position: left;
  background-repeat: repeat-y;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 4px 2px 2px 12px;
  width: 90%;
  margin: 10px 0 15px 0;
}
#featured-columns {
  width: 100%;
}
#featured-columns .places {
  width: 47%;
  float: left;
  margin: 0 0 0 20px;
}
#featured-columns .things {
  width: 47%;
  float: left;
  margin: 0 0 0 20px;
}
main .featured-for {
  width: 95%;
  padding: 20px;
  clear: both;
  border: 1px solid rgba(122, 188, 9, .7);/*leaf*/
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: none;
  background: none;
  text-align: left;
}
main .featured-for div.icons {
  float: right;
  width: 69px;
  margin: 0px 0px 10px 10px;
}
main .featured-for img {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}
main .featured-for div.icons img {
  float: right;
  margin: 0 0 10px 0;
  border-radius: 0;
}
button.featured-for h4 {
  font-size: 170%;
  font-weight: bold;
}
button.featured-for p {
  font-size: 150%;
}
a button.featured-for:hover {
  border-color: rgba(122, 188, 9, 1);/*leaf*/
  background-color: rgba(1, 156, 209, .1);/*blue*/
  cursor: pointer;
}