$color-1: #000;
$color-1a: lighten($color-1, 10%);
$color-1b: lighten($color-1, 20%);
$color-1c: lighten($color-1, 30%);
$color-1d: lighten($color-1, 40%);
$color-1e: lighten($color-1, 50%);
$color-1f: lighten($color-1, 60%);
$color-1g: lighten($color-1, 70%);
$color-1h: lighten($color-1, 80%);
$color-1i: lighten($color-1, 90%);
$color-2: #fff;
// $color-3: lighten($color-1, 20%);
$color-4: #2d3754; // darkest blue
/*rgba(63, 178, 74, 1) olive green*/
/*rgba(122, 188, 9, 1) leaf green*/
/*rgba(165, 147, 0, 1) tan*/
/*rgba(188, 130, 9, 1) orange brown*/
/*rgba(178, 72, 0, 1) chestnut*/


